
footer {

      color: white;
      background-color: rgb(100, 81, 0);
      /* change colour later */
      padding: 20px; 
}

 footer #acknowledgements {
      text-align: center;
      font-size: 14px;
} 

footer #copyright {
      text-align: center;
      font-size: 14px;
}

footer #social {
      text-align: center;
      margin-top: 10px;
}

#logo {
      margin: auto;
      width: 100px;
      height: auto;
      float: left;
}


#name {
      margin-right: 30px;

}

