/*
filename: styles.css
author: Anastasia Tiffany, Harper Lam, Nathan Yan, Son Khoi Nguyen
created:  03 September 2026
last modified: 11 September 2026
description: Styles for 2602-cos10026-applied-web-project-1
*/

/* -------------------------
    Global styles and presets
    - all elements
    - html
    - custom properties
------------------------- */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* Custom properties */
:root {
    --light-grey: #ddd;
    --charcoal-grey: #323232;
    --terracotta: #B56B45;
    --transparent-black: rgba(0, 0, 0, 0.1);

    /* https://coolors.co/895053-12343b-e0f1f5-f0f8fa-ffffff-263238-f9c74f-fafaf7 */
    --jet-black: #12343bff;
    --azure-mist: #e0f1f5ff;
    --alice-blue: #f0f8faff;
    --white: #ffffffff;
    --jet-black-2: #263238ff;
    --tuscan-sun: #f9c74fff;
    --porcelain: #fafaf7ff;

    /* Brand palette */
    --color-brand-dark: var(--jet-black);
    --color-brand-light: var(--terracotta);
    /* Text */
    --color-text-headers: var(--jet-black);
    --color-text-dark: var(--jet-black-2);
    --color-text-dark-hover: var(--terracotta);
    --color-text-light: var(--white);
    --color-text-light-hover: var(--tuscan-sun);
    --color-text-highlight: var(--jet-black);
    --color-text-link-dark: var(--jet-black-2);
    --color-text-link-dark-hover: var(--jet-black);
    /* Backgrounds */
    --color-bg-header: var(--jet-black);
    --color-bg-main: var(--alice-blue);
    --color-bg-section: var(--white);
    --color-bg-highlight: var(--alice-blue);
    --color-bg-footer: var(--charcoal-grey);
    /* Borders */
    --color-border: var(--light-grey);
    --color-border-highlight: var(--jet-black);
    /* Shadows */
    --color-shadow: var(--transparent-black);
}

/* -------------------------
    Shared element styles
    - footer
    - header
        - site nav
------------------------- */
/* Footer styles - Harper Lam */
footer {
    padding: 20px;

    color: white;
    background-color: #263238;
}
footer #acknowledgements {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}
footer #copyright {
    text-align: center;
    font-size: 14px;
}
footer #social {
    margin-top: 10px;

    text-align: center;
}
#logo-small {
    display: block;
    width: 60px;
    height: auto;
    margin: auto;
}

/* Header styles - Harper Lam*/
#site-header {
    border-bottom: 1px solid #ddd;
    background-color: #12343B;
}
#site-header-container {
    display: flex;
    /* use flexbox to align the logo and navigation horizontally */
    /* use flexbox to align the logo and navigation horizontally */
    align-items: center;
    max-width: 1200px;
    padding: 15px 30px;
    /* 15 pixel top and bottom
    30 pixel left and right */
    /* 15 pixel top and bottom
    30 pixel left and right */
    margin: auto;
}
#site-header .logo {
    height: auto;
    width: 200px;
}
#site-title {
    margin: 0 30px 0 15px;

    font-size: 1.8rem;
    color: white;
}
/* Navigation */
#site-nav {
    display: flex;
    gap: 25px;
    margin-left: auto;
}
#site-nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#site-nav a:hover {
    color: #F9C74F;
}

/* -------------------------
    index.html styles
    - content
    - destinations
    - services
------------------------- */
/* Content */
.content {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    padding: 30px;
    /* Centre horizontally */
    align-items: center;
    /* Centre vertically */
    justify-content: center;

    background-image: url('../images/airplane.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
}
.content #slogan {
    margin-bottom: 15px;

    background-color: rgba(208, 210, 255, 0.55);

    font-size: 2em;
    font-weight: bold;
    color: white;
}
.content #description {
    /* Limit text width for readability */
    max-width: 450px;
    margin-bottom: 30px;

    background-color: rgba(208, 210, 255, 0.55);

    /* Adjust line height for better readability */
    line-height: 1.5;
    font-size: 1.3em;
    color: white;
}

/* Destinations */
.destinations {
    padding: 70px 30px;
    margin: auto;

    background-color: #F0F8FA;
}
.destination-box {
    /* Allow card to flex with webpage size */
    display: flex;
    gap: 20px;
    /* Max width of border box */
    max-width: 1200px;
}
.destination-card img {
    width: 100%;
    height: 200px;
    /* Crop the image to fill the fixed-height container */
    object-fit: cover;
}
/* change the scale of of bow when hover 
credit https://prismic.io/blog/css-hover-effects */
.destination-card:hover {
    transform: scale(1.07, 1.07);
    box-shadow: 0 0 20px rgba(5, 6, 6, 0.5);
}

.destinations > h3 {
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
    color: #12343B;
}
.destination-card {
    flex: 1;
    /* flex 1 allows the cards to grow and shrink equally */
    /* It combines three different properties into one short line:
    source: stack overflow  https://stackoverflow.com/questions/48522388/the-meaning-and-benefits-of-flex-1
    flex-grow: 1;: The item will grow to fill extra space in the container.
    flex-shrink: 1;: The item will shrink if the container gets too small.
    flex-basis: 0%;: The item starts with a base size of zero, ignoring its natural content width */

    width: 100%;
    /* Allow the cards to grow and shrink equally */
    padding-bottom: 25px;
    border-radius: 8px;
    /* Clip content to the rounded card border */
    overflow: hidden;

    background-color: white;

    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.destination-card h4,
.destination-card p {
    margin-left: 25px;
    margin-right: 25px;
}
.destination-card h4 {
    font-weight: bold;
    font-size: 25px;
    color: #895053;
}
.destination-card p {
    line-height: 1.3;
}
.destination img {
    height: auto;
    width: 100%;
    max-width: 50%;
}
.destination-grid {
    display: grid;
    gap: 10px;
}

/* Services */
.services th {
    font-size: 18px;
    color: #263238;
}
th,
td {
    padding: 15px;
    border: 1px solid #ddd;

    background-color: white;
}
.services table {
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 15px;
    border-spacing: 0;
    margin: auto;

    /* Hide extra border */
    overflow: hidden;

    background-color: white;
}
.services .sers {
    background-color: #FAFAF7;
}
.services .sers:hover {
    background-color: #F9C74F;
    text-decoration: underline;
}

/* -------------------------
    jobs.html
    - page layout
        - page properties
    - shared card styling (position and sidebar)
    - sidebar
    - position cards
        - header
        - details
    - email signup
------------------------- */
/* Page layout */
#job-content {
    padding: 15px 15px;

    display: grid;
    grid-template-columns: 1fr 28%;

    background: var(--color-bg-main);
    color: var(--color-text-dark);

    /* Page properties */
    --vertical-margins: 20px;
    --jobs-card-border: 1px solid var(--color-border);
    --jobs-card-border-highlight: 1px dotted var(--color-border-highlight);
    --jobs-card-radius-s: 4px;
    --jobs-card-radius-m: 4px;
    --jobs-card-radius-l: 12px;
}
#job-content > * {
    margin: 0 10px;
}
#job-content h1 {
    height: 40px;
    margin: 20px 0;
}
#job-content h1,
#job-content h2,
#job-content h3 {
    color: var(--color-text-headers);
    font-weight: bold;
}
#job-content a {
    color: var(--color-text-link-dark);
}
#job-content a:hover {
    color: var(--color-text-link-dark-hover);
    font-style: italic;
}

/* Cards */
#job-sidebar > *,
.job-position
{
    padding: 0 1.5rem 2rem 1.5rem;
    border: var(--jobs-card-border);
    border-radius: var(--jobs-card-radius-l);

    background: var(--color-bg-section);
}


/* Sidebar */
#job-sidebar {
    --top-height: 20px;

    order: 1;
    position: sticky;
    top: var(--top-height);
    height: calc(100vh - var(--top-height) - var(--vertical-margins));

    display: flex;
    flex-direction: column;
    row-gap: var(--vertical-margins);
}

#job-available {
    /* Grid is used for flexibility in 2D where more jobs may be added */
    display: grid;
    grid-column: 1;
}
#job-apply-note {
    flex-grow: 1;
}
#jump-to-top {
    color: var(--color-text-dark);
    text-align: center;
    padding: 0.5rem;
    border: var(--jobs-card-border);
    border-radius: var(--jobs-card-radius-l);
    background: var(--color-bg-section);
}

/* Job position card layout */
#job-listings {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: var(--vertical-margins);
}
#job-listings h1 {
    text-align: center;
}

/* Job header */
.job-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.job-ref-id {
    border: var(--jobs-card-border);
    padding: 0.5rem 1rem;
    border-radius: var(--jobs-card-radius-s);

    background: var(--color-bg-highlight);
}
.job-ref-id::before { content: "#"}

/* Job details */
.job-details {
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 0.5rem;
    margin: 1.5rem 0;

    color: var(--color-text-headers);
}
.job-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: var(--jobs-card-border);
    border-radius: var(--jobs-card-radius-m);

    padding: 0.5rem 1rem;
    background: var(--color-bg-highlight);
}
.job-details dt {
    font-weight: bold;
}

/* Job email signup */
.job-signup {
    order: 2;
    text-align: center;
}

/* -------------------------
    Responsive design
    - small screens (to 800px)
    - very small screens (to 500px)
    - short screens (vertically to 500px)
------------------------- */
@media only screen and (max-width: 800px) {
    /* Responsive design for small screens up to 800px */
    #site-header-container {
        /* Stack the logo and navigation vertically on smaller screens */
        flex-direction:column;
    }
    header #name {
        /* Adds logo-navigation spacing on smaller screens */
        margin: 10px 0;
    }
    header #site-nav {
        /* Centre navigation links */
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0 0;
        gap: 15px;
    }

    /* index.html responsive design */
    .destination-box {
        flex-direction: column;
    }
    .destination img {
        height: 250px;
    }

    .social-icon {
    min-width: 25px;
    }

    footer #acknowledgements {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    }
    /* jobs.html responsive design */
    #job-content {
        grid-template-columns: 1fr;
    }
    #job-sidebar {
        position: static;
        height: auto;
        margin: 0;
    }
    #jump-to-top,
    #job-available {
        visibility: hidden;
        height: 0;
    }
    #job-listings {
        order: -1;
    }
    .job-details {
        grid-template: 1fr 1fr / auto;
    }
}

@media only screen and (max-width: 500px) {
    /* Responsive design for very small screens up to 500px */
    .content {
        min-height: 400px;
    }
    .content #slogan {
        font-size: 32px;
    }
    .content #description {
        font-size: 16px;
    }
}

@media only screen and (max-height: 500px) {
    /* Responsive design for short viewports up to 500px */
    #job-sidebar {
        position: static;
        height: auto;
        margin-top: 80px;
    }
    #job-available {
        visibility: hidden;
        height: 0;
    }
}